.card {
  max-width: 710px;
  max-height: 257px;
  min-height: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 25px;
  padding: 33px;
}

@media (max-width: 730px) {
  .card {
    flex-direction: column;
    max-height: 100%;
    align-items: center;
  }
}
