:root {
  font-family: "Nunito sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
svg {
  display: block;
  max-width: 100%;
}
input,
button {
  font: inherit;
}
p,
h1,
h2 {
  overflow-wrap: break-word;
}

main {
  display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* .square {
  background: url("/squares.png");
  background-color: red;
  width: 239px;
  height: 225px;
  top: 28px;
  left: 71px;
  position: absolute;
  z-index: -10;
} */

/* .circle-1,
.circle-2 {
  background-color: url("/ellipse.png");
  background-color: red;
  z-index: -18;
  position: absolute;
}
.circle-1 {
  width: 888px;
  height: 888px;
  top: -268px;
  right: 0px;
} */

/* .circle-2 {
  width: 674px;
  height: 674px;
  top: 198px;
  left: -415px;
} */
